@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div style="position:relative; top:80px;">
    <div style="margin: auto;">
        <div class="card mx-auto login-container">
            <div class="card-header text-center boldText">Login</div>
            <h5 class="card-title "></h5>
            <div class="card-body login-container">
                <form asp-controller="account" asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="boldText" asp-for="Email">Email</label>
                        <input class="login-input" asp-for="Email" placeholder="">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="boldText" asp-for="Password">Password</label>
                        <input class="login-input" asp-for="Password" placeholder="">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="remember-me" style="width:100%">
                            <span><input id="remember-me" name="remember-me" type="checkbox"></span>
                            <span>@Html.DisplayNameFor(m => m.RememberMe)</span>

                        </label>

                    </div>
                    <div class="form-group">
                        <div class="mt-4 mb-4">
                            <a id="forgot-password-link"  asp-action="ForgotPassword" asp-controller="account">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="text-center mt-4"><button type="submit" asp-action="login" asp-controller="account" class="btn btn-dark btn-block">Login</button></div>
                </form>
                <div>

                    @{
                        if (Model.ExternalLogins.Count == 0)
                        {
                                    <div>No external logins configured</div>
                        }
                        else
                        {
                                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">

                                        <div>
                                            @foreach (var provider in Model.ExternalLogins)
                                    {
                                            <button type="submit" class="btn btn-primary btn-block"
                                                    name="provider" value="@provider.Name"
                                                    title="Login using your @provider.DisplayName account">
                                                Login with @provider.DisplayName
                                            </button>
                                    }
                                        </div>
                                    </form>
                        }
                    }


                </div>
               
                <div class="mt-4 text-right">
                    <p>Don't have an Account! <a asp-action="Register" asp-controller="account">Register here</a></p>
                </div>

            </div>


            
         
        </div>
    </div>
</div>

