@model OpportunistDetailsViewModel



<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card login-container">
            <div class="card-header">
                <h1>@Model.Opportunist.LastName, @Model.Opportunist.FirstName</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/noimage.jpg" />

                <h4>Email : @Model.Opportunist.Email</h4>
                <h4>Mentorship : @Model.Opportunist.Mentorship</h4>
                <h4>Start-up Accelerations : @Model.Opportunist.StartUp</h4>
                <h4>Partnerships : @Model.Opportunist.Partnership</h4>
                <h4>Sponsorship : @Model.Opportunist.Sponsorship</h4>
                <h4>Business Opportunities : @Model.Opportunist.BusinessOpportunities</h4>
                <h4>AllyShip : @Model.Opportunist.AllyShip</h4>
                <h4>WorkPlacement : @Model.Opportunist.WorkPlacement</h4>
                <h4>JobOpportunities : @Model.Opportunist.JobOpportunities</h4>
                <h4>WorkshopTraining : @Model.Opportunist.WorkshopTraining</h4>
                <h4>PersonalStatement : @Model.Opportunist.PersonalStatement</h4>
                <h4>AdditionalMessage : @Model.Opportunist.AdditionalMessage</h4>
                
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>

</div>