@model PartnerDetailsViewModel

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card login-container">
                <div class="card-header">
                    <h1>@Model.Partner.Company</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="~/images/noimage.jpg" />

                    <h4>Email : @Model.Partner.Email</h4>
                    <h4>Mentorship : @Model.Partner.Mentorship</h4>
                    <h4>Start-up Accelerations : @Model.Partner.StartUp</h4>
                    <h4>Partnerships : @Model.Partner.Partnership</h4>
                    <h4>Sponsorship : @Model.Partner.Sponsorship</h4>
                    <h4>Business Opportunities : @Model.Partner.BusinessOpportunities</h4>
                    <h4>AllyShip : @Model.Partner.AllyShip</h4>
                    <h4>WorkPlacement : @Model.Partner.WorkPlacement</h4>
                    <h4>JobOpportunities : @Model.Partner.JobOpportunities</h4>
                    <h4>WorkshopTraining : @Model.Partner.WorkshopTraining</h4>
                    <h4>AdditionalMessage : @Model.Partner.AdditionalMessage</h4>

                </div>
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>

    </div>